spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dev_db
    username: jose
    password: josepass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
      hibernate.format_sql: true

server:
  port: 8080
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs